<!DOCTYPE html>
<html>
<head>
    <title>Academia Industry Collaboration Portal</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Academia - Industry Collaboration Portal</h1>

    <p>
        Skill Mapping, Internships and Placement Platform
    </p>

    <br>

    <a href="/login">
        <button>Student Login</button>
    </a>

    <a href="/register">
        <button>Student Register</button>
    </a>

    <br>

    <a href="/company/login">
        <button>Company Login</button>
    </a>

    <a href="/company/register">
        <button>Company Register</button>
    </a>

</div>

</body>
</html>